.vs/
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
_ReSharper*/
*.DotSettings.user

[Bb]in/
[Oo]bj/
TestResults/
*.nupkg
*.snupkg
coverage/
coverage.xml
*.coverage
*.coveragexml

.DS_Store
Thumbs.db

*.log
